header {
  display: flex;
  justify-content: center;
  height: 40px;
  background: black;
  align-items: center;
}

.container {
  max-width: 900px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 0 auto;
}

main {
  min-height: calc(100vh - 85px - 22px);
}
 a {
  text-decoration: none;
  color: rgb(231, 224, 224);
  margin: 10px;
}

a:hover {
  text-decoration: underline;
}

.active {
  cursor: default;
  color: white;
}